@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');
body, html {
    font-size: 60px;
    /* font-family: 'Ballet', cursive; */
}
p {
    font-size: 1rem;
}

/* line-height */
span {
    font-size: 2rem;
    line-height: 1em;
}
/* p {
    font-style: italic;
} */